<p>
  <strong>Title:</strong>
  <%= @supply.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @supply.text %>
</p>
 
<h2>Comments</h2>
<%= render @supply.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_supply_path(@supply) %> |
<%= link_to 'Back', supplies_path %>